*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family :Serif;
	color: rgba(248,248,255,1);
}
body{
	background: url(imgs/01.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
.bos{
	width: 100px;
	height: 300px;
	position: absolute;
	top: 50px;
	left: 100px;
}
.bos ul li{
	width: 100px;
	height: 75px;
	background: rgba(17,34,51,0.8);
	color: rgba(100,149,237,1);
}
.bos ul li {
      text-align: center;		
      line-height: 75px;
}
.bos ul li:hover{
	background: black;
}
.bus{	
	width: 70%;
	border: 1px solid;
	margin: auto;
}